RewriteEngine on
RewriteCond %{THE_REQUEST} ^.*/index.html
RewriteRule ^(.*)index.html$ http://astaka-pe.github.io/webpage/$1 [R=301,L]
RewriteRule ^(.*)index.html$ http://astaka-pe.github.io/webpage/en/$1 [R=301,L]
RewriteRule ^(.*)index.html$ http://astaka-pe.github.io/webpage/ja/$1 [R=301,L]
